@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in {
  display: inline-block;
  animation: slideInLeft 3s ease forwards;
  animation-fill-mode: backwards;
}

